<!DOCTYPE html>
<html>
<head>
	<title>!!Acme Flying Pigs!!</title>
	<link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class='container'>
	<h1>Acme Users PiGs</h1>
	<ul class='nav nav-tabs'>
		<li class={{homeTab}}><a href="/">Home </a></li>
		<li class={{userTab}}><a href="/users">Users ({{users.length}})</a></li>
		<li class={{managerTab}}><a href="/managers">Managers ({{managers.length}})</a></li>
	</ul>	
	{% block body%}
	{% endblock%}
</div>
</body>
</html>